.nb-theme-default .nb-tree-grid-header-cell, .nb-theme-default .nb-tree-grid-cell, .nb-theme-default .nb-tree-grid-footer-cell {
    height: 2rem;
    padding: 0.875rem 0.35rem;
    border: 1px solid #f7f9fc;
}

// th:nth-child(6){
//     width: 100%;
// }

// th:last-child{
//     width: 100%;
// }
table{
    width: 100%;
}