<!-- <div class="fourdtabel_block">
   <nb-card class="custome-card">
      <nb-card-header>
         <div class="row">
            <div class="col-sm-12">
               <h2 class="tilte"> Fraud Report </h2>
            </div>
         </div>
      </nb-card-header>
      <nb-card-body>
      <div class="custome_table">
         <div class="table-responsive">
           <table class="table" >
             <thead>
               <tr>
                 <th>Chanel </th>
                 <th>Ip </th>
                 <th>Bot </th>
                 <th>Device </th>
                 <th>Contry </th>
                 <th>City </th>
                 <th>Farm </th>
                 <th> Accdental </th>
                 <th>Competitor</th>
                 <th>Invalid</th>
                 <th>Js</th>
                 <th>Os</th>
                 <th>Browser</th>
               </tr>
             </thead>
             <tbody>
               <tr>
                 <td>Car </td>
                 <td>100 </td>
                 <td>9 </td>
                 <td>7 </td>
                 <td>87 </td>
                 <td>56 </td>
                 <td>-1.657</td>
                 <td>1.657 </td>
                 <td>9</td>
                 <td>7</td>
                 <td>45</td>
                 <td>32</td>
                 <td>768</td>
               </tr>
               <tr>
                 <td> Markup </td>
                 <td>100 </td>
                 <td>9 </td>
                 <td>7 </td>
                 <td>87 </td>
                 <td>56 </td>
                 <td>-1.657</td>
                 <td>1.657 </td>
                 <td>9</td>
                 <td>7</td>
                 <td>45</td>
                 <td>32</td>
                 <td>768</td>
               </tr>

               <tr>
                 <td> Play store </td>
                 <td>100 </td>
                 <td>9 </td>
                 <td>7 </td>
                 <td>87 </td>
                 <td>56 </td>
                 <td>-1.657</td>
                 <td>1.657 </td>
                 <td>9</td>
                 <td>7</td>
                 <td>45</td>
                 <td>32</td>
                 <td>768</td>
               </tr>

               <tr>
                 <td> Flight </td>
                 <td>100 </td>
                 <td>9 </td>
                 <td>7 </td>
                 <td>87 </td>
                 <td>56 </td>
                 <td>-1.657</td>
                 <td>1.657 </td>
                 <td>9</td>
                 <td>7</td>
                 <td>45</td>
                 <td>32</td>
                 <td>768</td>
               </tr>
             </tbody>
           </table>

           </div>

        </div>
      </nb-card-body>
   </nb-card>
</div> -->
