<div class="reportrow1_block">
  <div class="row">
    <div class="col-sm-12 col-md-6 col-lg-4 custome-col">
      <div class="rssaving_block">
        <nb-card class="custome-card">
          <nb-card-header>
            <div class="row">
              <div class="col-sm-12">
                <h2 class="tilte">
                  <span> Savings </span>
                  {{ savings}}
                </h2>
              </div>
            </div>
          </nb-card-header>
          <nb-card-body>
            <div class="row">
              <div class="col-sm-12">
                <div class="chart_block">
                  <img src="./assets/img/varticallygr.png" class="img_" alt="" />
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div>



    <div class="col-sm-12 col-md-6 col-lg-4 custome-col">
      <div class="clickchart_block">
        <nb-flip-card class="custome-card">
          <nb-card-front class="custome-card">
            <nb-card>
              <nb-card-body>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="cchart_block" size="tiny">
                      <h4> Total Invalid Clicks%</h4>
                      <div class="clickcard_block">
                        <img src="./assets/img/invalidgr_img.png" class="img_" alt="" />
                        <span class="counter"> {{ totalInvalid }}%</span>
                      </div>

                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </nb-card-front>

          <nb-card-back>
            <nb-card>
              <nb-card-body>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="cchart_block" size="tiny">
                      <h4> Total Invalid Clicks</h4>
                      <div class="clickcard_block">
                        <img src="./assets/img/invalidgr_img.png" class="img_" alt="" />
                        <span class="counter"> {{ invalidClick }}</span>
                      </div>

                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </nb-card-back>

        </nb-flip-card>
      </div>
    </div>

    <div class="col-sm-12 col-md-6 col-lg-4 custome-col">
      <div class="clickchart_block">
        <nb-flip-card class="custome-card">
          <nb-card-front class="custome-card">
            <nb-card>
              <nb-card-body>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="cchart_block" size="tiny">
                      <h4> Total Valid Clicks%</h4>
                      <div class="clickcard_block">
                        <img src="./assets/img/invalidgr_img.png" class="img_" alt="" />
                        <span class="counter"> {{ totalvalid }}%</span>
                      </div>

                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </nb-card-front>

          <nb-card-back>
            <nb-card>
              <nb-card-body>
                <div class="row">
                  <div class="col-sm-12">
                    <div class="cchart_block" size="tiny">
                      <h4> Total Valid Clicks</h4>
                      <div class="clickcard_block">
                        <img src="./assets/img/invalidgr_img.png" class="img_" alt="" />
                        <span class="counter"> {{ validClick }}</span>
                      </div>

                    </div>
                  </div>
                </div>
              </nb-card-body>
            </nb-card>
          </nb-card-back>

        </nb-flip-card>
      </div>
    </div>

    <!-- <div class="col-sm-12 col-md-6 col-lg-4 custome-col">
      <div class="clickchart_block">
        <nb-card class="custome-card">
          <nb-card-body>
            <div class="row">
              <div class="col-sm-12">
                <div class="cchart_block" size="tiny">
                  <h4> Total Invalid Clicks%</h4>
                  <div class="clickcard_block">
                    <img src="./assets/img/invalidgr_img.png" class="img_" alt="" />
                    <span class="counter"> {{ totalInvalid }}%</span>
                  </div>

                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div> -->


    <!-- <div class="col-sm-12 col-md-6 col-lg-4 custome-col">
      <div class="clickchart_block">
        <nb-card class="custome-card">
          <nb-card-body>
            <div class="row">
              <div class="col-sm-12">
                <div class="cchart_block" size="tiny">
                  <h4> Total Valid Clicks% </h4>
                  <div class="clickcard_block invalid">
                    <img src="./assets/img/validgr_img.png" class="img_" alt="" />
                    <span class="counter"> {{ totalvalid }}%</span>
                  </div>
                </div>
              </div>
            </div>
          </nb-card-body>
        </nb-card>
      </div>
    </div> -->



  </div>

</div>
