// .header-container {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   width: 100%;

//   .logo {
//     width: 150px;
//   }

//   .btn-home nb-icon {
//     font-size: 32px;
//   }
// }

// nb-card{
//   width: 50vw;
//   margin: 0 auto;

//   .example-items-col {
//     input, .invalid-feedback {
//       margin-bottom: 10px;
//     }

//     button {
//       margin-top: 10px;
//       margin-right: 15px;
//     }
// }
//   .register-block {
//     text-align: center;
//     margin: 20px 0;

//     a {
//       color: #8f9bb3;
//     }
//   }
// }







.nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
  padding: 0;
}


/*---------------------------- Login code -----------  */

.ds_login_main {
  height: 100%;
  width: 100%;
  background: #F5F6FA;
  font-family: Nunito-Regular;
}

.ds_login_main .inner_block {
  height: inherit;width: 100%;
}

.ds_login_main .h_full {
  height: inherit;
  height: 100%;
}

.ds_login_main  .info-block {
  height: 100%;
  background: #4980FF;
  padding: 30px 20px;
  font-family: 'Nunito-Regular';
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.ds_login_main .info-block .logo {
    max-width: 150px;
    margin: 0 0 25px;
}

.ds_login_main .info-block p {
    color: white;
    font-weight: 300;
    font-family: Nunito-Light;
    font-size: 16px;
    line-height: 24px;
}

.ds_login_main .login_block {
    height: 100%;
    width: 100%;
    padding: 20px 20px;
    padding-left: 70px;
}

.ds_login_main .login_block .top_block {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.ds_login_main .login_block .top_block .logo {
    max-width: 24px;
}

.ds_login_main .login_block .login-card {
    width: 100%;
    margin: 40px 0 0;
    border: 0 !important;
    background: transparent !important;
}

.ds_login_main .login_block .login-card h3 {
    font-family: Nunito-Bold;
    font-size: 34px;
    text-transform: capitalize;
    font-weight: bold;
}

.ds_login_main .login_block .login-card nb-card-header {
    margin: 0 0 20px;
}

.ds_login_main .login_block .login-card nb-card-body {
    max-width: 60%;
}

.ds_login_main .login_block .login-card nb-card-body .form-group {
    display: block;
}

.ds_login_main .login_block .login-card nb-card-body .form-group .label_text {
    font-size: 16px;
    letter-spacing: 0.24px;
    color: #232323;
    font-family: 'Nunito-Bold';
    text-transform: capitalize;
}




.ds_login_main .login_block .login-card nb-card-body .form-group .form-control {
  width: 100%;
  background: white;
  border: 0.5px solid #9D9D9D;
  border-radius: 4px;
  height: 42px;
  font-size: 16px;
  color: #000;
  color: #000;
  outline: none !important;
  box-shadow: none !important;
}
.ds_login_main .login_block .login-card nb-card-body .form-group .label_check {
  width: 100%;
}
 
.ds_login_main .login_block .login-card nb-card-body .form-group .label_check label {
  color: #4980FF;
  font-weight: 600;
  font-family: 'Nunito-Regular';
  letter-spacing: 0.4px;
}
.ds_login_main .login_block .login-card nb-card-body .form-group .forget_text {
  text-align: right;
  display: block;
}
.ds_login_main .login_block .login-card nb-card-body .form-group .forget_text a {
  text-decoration: none;
  text-transform: capitalize;
  font-size: 14px;
  font-family: 'Nunito-Regular';
}
 
.ds_login_main .login_block .login-card nb-card-body .form-group .label_check label .text {
    color: #4980FF;
}


.ds_login_main .login_block .login-card nb-card-body .form-group .btnblock {
  display: block;
  margin: 30px 0 10px;
}

.ds_login_main .login_block .login-card nb-card-body .form-group .btnblock .btn_login {
  padding: 10px 46px;
}
.ds_login_main .login_block .login-card nb-card-body .form-group .register-block {
  text-align: left;
  margin: 25px 0 0;
}


.ds_login_main .login_block .login-card nb-card-body .form-group .register-block p {
  font-family: 'Nunito-Regular';
  font-weight: 400;
  font-size: 16px;
  margin: 0;
}
.ds_login_main .login_block .login-card nb-card-body .form-group .register-block p a {
    
  color: #4980FF !important;
  text-decoration: none !important;
  cursor: pointer !important;
}

.nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
  padding: 0px !important;
}




/*---------------------------- Login code -----------  */


/* ----------- Tablet Responsive --------------------  */

@media screen and (max-width: 900px) {

    .ds_login_main .info-block .logo {
        max-width: 100px;
        margin: 0 0 20px;
    }

    .ds_login_main .info-block p {
        font-size: 14px;
    }

    .ds_login_main .info-block {
        padding: 20px 14px;
    }

    .ds_login_main .login_block {
        padding: 20px;
    }

    .ds_login_main .login_block .login-card nb-card-body {
        max-width: 80%;
    }



















}

/* ----------- Tablet Responsive --------------------  */





/* ----------- Mobile Responsive --------------------  */

@media screen and (max-width: 767px) {
   
  .ds_login_main .h_full {
    height: auto;
}

.ds_login_main .info-block {
    padding: 30px 16px;
}

.ds_login_main .login_block {
    padding: 0 0 0;
}

.ds_login_main .login_block .top_block {
    padding: 10px 10px;
}

.ds_login_main .login_block .login-card {
    margin: 15px 0 0;
}

.ds_login_main .login_block .login-card nb-card-header {margin: 0 0 10px;padding: 1rem 1.0rem;}

.ds_login_main .login_block .login-card nb-card-body {
    width: 100%;
    max-width: 100%;
    padding: 1rem 1.0rem;
}

.ds_login_main  .login_block  .login-card nb-card-body .form-group .row {
    flex-wrap: nowrap;
}


.ds_login_main .login_block .login-card nb-card-body .form-group .label_check label .text {
    font-size: 13px;
}

.ds_login_main .login_block .login-card nb-card-body .form-group .forget_text a {
    font-size: 13px;
}

.ds_login_main .login_block .login-card nb-card-body .form-group .btnblock .btn_login {
    width: 100%;
    padding: 10px 12px;
}
   
.ds_login_main .login_block .login-card h3 {
  font-family: Nunito-Bold;
  font-size: 28px;
  text-transform: capitalize;
  font-weight: bold;
  text-align: center;
}
   
.btn_login {
  width: 100%;
}
   
   
   
   
   
}
   
   /* ----------- Mobile Responsive --------------------  */







