<nb-card>
  <nb-card-header> SCHEDULES </nb-card-header>
  <nb-card-body>
    <input
      nbInput
      [nbFilterInput]="dataSource"
      placeholder="Search Data"
      id="search"
      class="search-input"
    />
    <table
      [nbTreeGrid]="dataSource"
      [nbSort]="dataSource"
      (sort)="updateSort($event)"
    >
      <tr nbTreeGridHeaderRow *nbTreeGridHeaderRowDef="allColumns"></tr>
      <tr nbTreeGridRow *nbTreeGridRowDef="let row; columns: allColumns"></tr>

      <ng-container
        *ngFor="let column of defaultColumns; let index = index"
        [nbTreeGridColumnDef]="column"
        [showOn]="getShowOn(index)"
      >
        <th
          nbTreeGridHeaderCell
          [nbSortHeader]="getSortDirection(column)"
          *nbTreeGridHeaderCellDef
        >
          {{ column }}
        </th>
        <td nbTreeGridCell *nbTreeGridCellDef="let row">
          {{ row.data[column] || "-" }}
        </td>
      </ng-container>
    </table>
  </nb-card-body>
</nb-card>
