.input, .select {
  max-width: 5rem !important;
}

.select-button.placeholder {
  min-width: 6rem!important;
}

nb-card:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);
  transition: all .3s linear;
}

nb-card {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  transition: all .3s linear;
}
