




.nb-theme-default nb-layout-header {
    display: none !important;
}

.nb-theme-default nb-layout-header.fixed ~ .layout-container {
    padding-top: 0 !important;
}

.nb-theme-default nb-sidebar.custome_sidemenu {
    display: none !important;
}

.nb-theme-default nb-layout .layout .layout-container .content .columns nb-layout-column {
    padding: 0 !important;
}

.ds_header_admin {
    display: none !important;
}






















