nb-card:hover {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.8);
  transition: all 0.3s linear;
}

nb-card {
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.4);
  transition: all 0.3s linear;
}

#city_select,
#continent_title {
  display: none;
}

.container {
  padding: 0;

  .tag-demo {
    min-height: 200px;
    width: 80%;
  }

  ::ng-deep {
    mat-chip-list {
      z-index: 10;

      mat-chip {
        background: #3366ff;
        color: white;
      }
    }
  }
}
.select_tr_cities .list_cities label {
  padding-left: 10px;
  margin-top: 10px;
}
.search_city_input {
  padding: 5px;
  width: 100%;
}
.select_tr_cities {
  max-height: 160px;
  overflow-y: auto;
}
