<nb-layout>
  <nb-layout-column>
    <form [formGroup]="form" (submit)="onSubmit()">
      <nb-card>
        <nb-card-header>
          {{ isNewCustomerUser ? "Create" : "Update" }} Customer User
        </nb-card-header>
        <nb-card-body>
          <div class="mb-3">
            <label>Name</label>
            <input type="text" class="form-control" formControlName="name" placeholder="Enter your name"
              [class.is-invalid]="f.name.errors" />
            <div *ngIf="f.name.invalid" class="invalid-feedback">
              <div *ngIf="f.name.errors.server" [innerHtml]="f.name.getError('server')"></div>
            </div>
          </div>

          <div class="mb-3">
            <label>Email address</label>
            <input type="text" class="form-control" formControlName="email" placeholder="Enter your email"
              [class.is-invalid]="f.email.errors" />
            <div *ngIf="f.email.invalid" class="invalid-feedback">
              <div *ngIf="f.email.errors.server" [innerHtml]="f.email.getError('server')"></div>
            </div>
          </div>

          <div class="mb-3" *ngIf="isNewCustomerUser">
            <label>Password</label>
            <input type="password" class="form-control" formControlName="password" placeholder="Enter your password"
              [class.is-invalid]="f.password.errors" />
            <div *ngIf="f.password.invalid" class="invalid-feedback">
              <div *ngIf="f.password.errors.server" [innerHtml]="f.password.getError('server')"></div>
            </div>
          </div>
        </nb-card-body>
        <nb-card-footer>
          <div class="float-right">
            <button type="button" class="btn-cancel" (click)="onCancel()" nbButton status="basic">
              CANCEL
            </button>
            <button type="button" (click)="!isNewCustomerUser ? onUpdate() : onSubmit()" nbButton status="primary">
              {{ isNewCustomerUser ? "Create" : "Update" }}
            </button>
          </div>
        </nb-card-footer>
      </nb-card>
    </form>
  </nb-layout-column>
</nb-layout>